# IDE configuration files
.idea/
.vscode/

# Binaries for programs and scripts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.sh
*.bat
*.cmd

# Temporary files
.DS_Store
*.swp
*.swop
*.swo

# Log Caches Debug
*.log
*.cache
*.tmp
*.swp
*.swo
*.swop
*.tmp
*.cfg
/tmp/
__debug*

# Database files
*.db
*.sqlite

# Certificate files
*.cer
*.crt
*.pem
*.p12
*.pfx
*.pass

# Test binary, built with `go test -c`
/bin/
/build/
*.test
*.out

# Environment variables file
.env*
*.env*
!.env.example

# binary
wisp-cli
